.container {
  width: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: solid red;
}

.more-container {
  grid-column: 1;
  background-color: gray;
  /* width: 300px; */
  height: 185px;
  border-radius: 5px;
  border: 2px solid yellow;
}

.dropdown-container {
  text-align: left;
  /* border: 1px solid #ccc;
  position: relative; */
  border-radius: 5px;
  /* width: 300px; */
  grid-column: 2;
  border: 2px solid orange;
}

.dropdown-input {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

.dropdown-menu {
  /*position: absolute;
  transform: translateY(4px);*/
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: auto;
  max-height: 150px;
  background-color: #fff;
}

.dropdown-item {
  padding: 5px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: grey;
}

.dropdown-item.selected {
  background-color: #0d6efd;
  color: #fff;
}

.dropdown-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.dropdown-tag-item {
  background-color: #ddd;
  padding: 2px 4px;
  border-radius: 2px;
  display: flex;
}
.dropdown-tag-close {
  display: flex;
  align-items: center;
}
